<%#
 Copyright 2008-2009 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%-
	require "luci.tools.webadmin"
	require "nixio.fs"

	local jsonc = require "luci.jsonc"
	local style = true
	local _, v

	local rtn = {
		[255] = "local",
		[254] = "main",
		[253] = "default",
		[0]   = "unspec"
	}

	if nixio.fs.access("/etc/iproute2/rt_tables") then
		local ln
		for ln in io.lines("/etc/iproute2/rt_tables") do
			local i, n = ln:match("^(%d+)%s+(%S+)")
			if i and n then
				rtn[tonumber(i)] = n
			end
		end
	end

	local ipv4_neighbors = jsonc.parse(luci.sys.exec("ip -4 -j neigh show")) or {}
	local ipv4_routers = jsonc.parse(luci.sys.exec("ip -4 -j route show")) or {}
	local ipv4_rules = jsonc.parse(luci.sys.exec("ip -4 -j rule show")) or {}
	local has_ipv6 = false
	local ipv6_neighbors = {}
	local ipv6_rules = {}
	local ipv6_rules = {}
	if nixio.fs.access("/proc/net/ipv6_route") then
		has_ipv6 = true
		ipv6_neighbors = jsonc.parse(luci.sys.exec("ip -6 -j neigh show")) or {}
		ipv6_routers = jsonc.parse(luci.sys.exec("ip -6 -j route show")) or {}
		ipv6_rules = jsonc.parse(luci.sys.exec("ip -6 -j rule show")) or {}
	end

	function parseRule(rl)
		local t = {}
		t[#t + 1] = "#"
		if rl.fwmark then
			t[#t + 1] = translate("Fwmark") .. ":" .. rl.fwmark
		end
		if rl.from then
			t[#t + 1] = translate("From") .. ":" .. rl.from
		end
		if rl.to then
			t[#t + 1] = translate("To") .. ":" .. rl.to
		end
		if rl.tos then
			t[#t + 1] = translate("Tos") .. ":" .. rl.tos
		end
		if rl.dsfield then
			t[#t + 1] = translate("DSCP") .. ":" .. rl.dsfield
		end
		if rl.uidrange then
			t[#t + 1] = translate("UID-range") .. ":" .. rl.uidrange
		end
		if rl.goto then
			t[#t + 1] = translate("goto") .. ":" .. rl.goto
		end
		if rl.nat then
			t[#t + 1] = translate("NAT") .. ":" .. rl.nat
		end
		return t
	end
-%>

<%+header%>

<div class="cbi-map" id="cbi-network">
	<h2 name="content"><%:Routes%></h2>
	<div class="cbi-map-descr"><%:The following rules are currently active on this system.%></div>
	
	<ul class="cbi-tabmenu">
		<li id="tab.network.v4route" class="cbi-tab">
			<a onclick="this.blur(); return cbi_t_switch('network', 'v4route')" href="#">IPv4</a>
		</li>
		<% if has_ipv6 then %>
		<li id="tab.network.v6route" class="cbi-tab">
			<a onclick="this.blur(); return cbi_t_switch('network', 'v6route')" href="#">IPv6</a>
		</li>
		<% end %>
	</ul>
	<div class="cbi-tabcontainer" id="container.network.v4route">
		<fieldset class="cbi-section">
			<legend>IPv4 <%:Neighbours%></legend>
			<div class="cbi-section-node">
				<table class="cbi-section-table">
					<tr class="cbi-section-table-titles">
						<th class="cbi-section-table-cell">IP <%:Address%></th>
						<th class="cbi-section-table-cell">MAC <%:Address%></th>
						<th class="cbi-section-table-cell"><%:Interface%></th>
					</tr>

					<%
						for _, v in ipairs(ipv4_neighbors) do
							if v.dst and v.lladdr then
					%>
					<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
						<td class="cbi-value-field"><%=v.dst%></td>
						<td class="cbi-value-field"><%=v.lladdr%></td>
						<td class="cbi-value-field"><%=luci.tools.webadmin.iface_get_network(v.dev) or '(' .. v.dev .. ')'%></td>
					</tr>
					<%
								style = not style
							end
						end
					%>
					<% if not ipv4_neighbors or #ipv4_neighbors == 0 then %>
					<tr class="cbi-section-table-titles cbi-rowstyle-1">
						<td colspan="3" style="text-align: center"><em><%:No entries available%></em></td>
					</tr>
					<% end %>
				</table>
			</div>
		</fieldset>
		<br />

		<fieldset class="cbi-section">
			<legend>IPv4 <%:Routes%></legend>

			<div class="cbi-section-node">
				<table class="cbi-section-table">
					<tr class="cbi-section-table-titles">
						<th class="cbi-section-table-cell"><%:Network%></th>
						<th class="cbi-section-table-cell"><%:Target%></th>
						<th class="cbi-section-table-cell"><%:Gateway%></th>
						<th class="cbi-section-table-cell"><%:Source%></th>
						<th class="cbi-section-table-cell"><%:Metric%></th>
						<th class="cbi-section-table-cell"><%:Table%></th>
						<th class="cbi-section-table-cell"><%:Protocol%></th>
					</tr>
					<% for _, v in ipairs(ipv4_routers) do %>
					<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
						<td class="cbi-value-field"><%=luci.tools.webadmin.iface_get_network(v.dev) or v.dev%></td>
						<td class="cbi-value-field"><%=v.dst and v.dst == "default" and "0.0.0.0/0" or v.dst%></td>
						<td class="cbi-value-field"><%=v.gateway or "-"%></td>
						<td class="cbi-value-field"><%=v.prefsrc or v.from or "-"%></td>
						<td class="cbi-value-field"><%=v.metric or "-"%></td>
						<td class="cbi-value-field"><%=rtn[v.table] or v.table or "main"%></td>
						<td class="cbi-value-field"><%=v.protocol%></td>
					</tr>
					<% style = not style end %>
					<% if not ipv4_routers or #ipv4_routers == 0 then %>
					<tr class="cbi-section-table-titles cbi-rowstyle-1">
						<td colspan="5" style="text-align: center"><em><%:No entries available%></em></td>
					</tr>
					<% end %>
				</table>
			</div>
		</fieldset>
		<br />

		<fieldset class="cbi-section">
			<legend><%:Active IPv4 Rules%></legend>

			<div class="cbi-section-node">
				<table class="cbi-section-table">
					<tr class="cbi-section-table-titles">
						<th class="cbi-section-table-cell"><%:Rule%></th>
						<th class="cbi-section-table-cell"><%:Priority%></th>
						<th class="cbi-section-table-cell"><%:Ingress%></th>
						<th class="cbi-section-table-cell"><%:Source%></th>
						<th class="cbi-section-table-cell"><%:Src Port%></th>
						<th class="cbi-section-table-cell"><%:Action%></th>
						<th class="cbi-section-table-cell"><%:IP Protocol%></th>
						<th class="cbi-section-table-cell"><%:Egress%></th>
						<th class="cbi-section-table-cell"><%:Destination%></th>
						<th class="cbi-section-table-cell"><%:Dest Port%></th>
						<th class="cbi-section-table-cell"><%:Table%></th>
					</tr>
					<% for _, v in ipairs(ipv4_rules) do %>
					<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
						<td class="cbi-value-field"><%=table.concat(parseRule(v) or {}, ";")%></td>
						<td class="cbi-value-field"><%=v.priority%></td>
						<td class="cbi-value-field"><%=v.iif and "<span class='ifacebadge'>%s</span>" % v.iif or "-"%></td>
						<td class="cbi-value-field"><%=v.src and (v.srclen and v.src .. "/" .. v.srclen or v.src) or translate("any")%></td>
						<td class="cbi-value-field"><%=v.sport or "-"%></td>
						<td class="cbi-value-field"><%=v.action or "-"%></td>
						<td class="cbi-value-field"><%=v.ipproto%></td>
						<td class="cbi-value-field"><%=v.oif and "<span class='ifacebadge'>%s</span>" % v.oif or "-"%></td>
						<td class="cbi-value-field"><%=v.dst and (v.dstlen and v.dst .. "/" .. v.dstlen or v.dst) or translate("any")%></td>
						<td class="cbi-value-field"><%=v.dport or "-"%></td>
						<td class="cbi-value-field"><%=v.table or "-"%></td>
					</tr>
					<% style = not style end %>
					<% if not ipv4_rules or #ipv4_rules == 0 then %>
					<tr class="cbi-section-table-titles cbi-rowstyle-1">
						<td colspan="11" style="text-align: center"><em><%:No entries available%></em></td>
					</tr>
					<% end %>
				</table>
			</div>
		</fieldset>
		<br />
	</div>

	<%
		if has_ipv6 then
			style = true
	%>
	<div class="cbi-tabcontainer" id="container.network.v6route">
		<fieldset class="cbi-section">
			<legend>IPv6 <%:Neighbours%></legend>

			<div class="cbi-section-node">
				<table class="cbi-section-table">
					<tr class="cbi-section-table-titles">
						<th class="cbi-section-table-cell">IP <%:Address%></th>
						<th class="cbi-section-table-cell">MAC <%:Address%></th>
						<th class="cbi-section-table-cell"><%:Interface%></th>
					</tr>
					<%
						for _, v in ipairs(ipv6_neighbors) do
							if v.dst and v.lladdr then
					%>
					<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
						<td class="cbi-value-field"><%=v.dst%></td>
						<td class="cbi-value-field"><%=v.lladdr%></td>
						<td class="cbi-value-field"><%=luci.tools.webadmin.iface_get_network(v.dev) or '(' .. v.dev .. ')'%></td>
					</tr>
					<%
								style = not style
							end
						end
					%>
					<% if not ipv6_neighbors or #ipv6_neighbors == 0 then %>
					<tr class="cbi-section-table-titles cbi-rowstyle-1">
						<td colspan="3" style="text-align: center"><em><%:No entries available%></em></td>
					</tr>
					<% end %>
				</table>
			</div>
		</fieldset>
		<br />

		<fieldset class="cbi-section">
			<legend>IPv6 <%:Routes%></legend>

			<div class="cbi-section-node">
				<table class="cbi-section-table">
					<tr class="cbi-section-table-titles">
						<th class="cbi-section-table-cell"><%:Network%></th>
						<th class="cbi-section-table-cell"><%:Target%></th>
						<th class="cbi-section-table-cell"><%:Gateway%></th>
						<th class="cbi-section-table-cell"><%:Source%></th>
						<th class="cbi-section-table-cell"><%:Metric%></th>
						<th class="cbi-section-table-cell"><%:Table%></th>
						<th class="cbi-section-table-cell"><%:Protocol%></th>
					</tr>
					<% for _, v in ipairs(ipv6_routers) do %>
					<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
						<td class="cbi-value-field"><%=luci.tools.webadmin.iface_get_network(v.dev) or v.dev%></td>
						<td class="cbi-value-field"><%=v.dst and v.dst == "default" and "::/0" or v.dst%></td>
						<td class="cbi-value-field"><%=v.gateway or "-"%></td>
						<td class="cbi-value-field"><%=v.prefsrc or v.from or "-"%></td>
						<td class="cbi-value-field"><%=v.metric or "-"%></td>
						<td class="cbi-value-field"><%=rtn[v.table] or v.table or "main"%></td>
						<td class="cbi-value-field"><%=v.protocol%></td>
					</tr>
					<% style = not style end %>
					<% if not ipv6_routers or #ipv6_routers == 0 then %>
					<tr class="cbi-section-table-titles cbi-rowstyle-1">
						<td colspan="5" style="text-align: center"><em><%:No entries available%></em></td>
					</tr>
					<% end %>
				</table>
			</div>
		</fieldset>
		<br />

		<fieldset class="cbi-section">
			<legend><%:Active IPv6 Rules%></legend>

			<div class="cbi-section-node">
				<table class="cbi-section-table">
					<tr class="cbi-section-table-titles">
						<th class="cbi-section-table-cell"><%:Rule%></th>
						<th class="cbi-section-table-cell"><%:Priority%></th>
						<th class="cbi-section-table-cell"><%:Ingress%></th>
						<th class="cbi-section-table-cell"><%:Source%></th>
						<th class="cbi-section-table-cell"><%:Src Port%></th>
						<th class="cbi-section-table-cell"><%:Action%></th>
						<th class="cbi-section-table-cell"><%:IP Protocol%></th>
						<th class="cbi-section-table-cell"><%:Egress%></th>
						<th class="cbi-section-table-cell"><%:Destination%></th>
						<th class="cbi-section-table-cell"><%:Dest Port%></th>
						<th class="cbi-section-table-cell"><%:Table%></th>
					</tr>
					<% for _, v in ipairs(ipv6_rules) do %>
					<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
						<td class="cbi-value-field"><%=table.concat(parseRule(v) or {}, ";")%></td>
						<td class="cbi-value-field"><%=v.priority%></td>
						<td class="cbi-value-field"><%=v.iif and "<span class='ifacebadge'>%s</span>" % v.iif or "-"%></td>
						<td class="cbi-value-field"><%=v.src and (v.srclen and v.src .. "/" .. v.srclen or v.src) or translate("any")%></td>
						<td class="cbi-value-field"><%=v.sport or "-"%></td>
						<td class="cbi-value-field"><%=v.action or "-"%></td>
						<td class="cbi-value-field"><%=v.ipproto%></td>
						<td class="cbi-value-field"><%=v.oif and "<span class='ifacebadge'>%s</span>" % v.oif or "-"%></td>
						<td class="cbi-value-field"><%=v.dst and (v.dstlen and v.dst .. "/" .. v.dstlen or v.dst) or translate("any")%></td>
						<td class="cbi-value-field"><%=v.dport or "-"%></td>
						<td class="cbi-value-field"><%=v.table or "-"%></td>
					</tr>
					<% style = not style end %>
					<% if not ipv6_rules or #ipv6_rules == 0 then %>
					<tr class="cbi-section-table-titles cbi-rowstyle-1">
						<td colspan="11" style="text-align: center"><em><%:No entries available%></em></td>
					</tr>
					<% end %>
				</table>
			</div>
		</fieldset>
		<br />
	</div>
	<% end %>
	<script type="text/javascript">
		cbi_t_add('network', 'v4route')
		<% if has_ipv6 then %>
		cbi_t_add('network', 'v6route')
		<% end %>
		cbi_t_switch('network', 'v4route')
	</script>
</div>

<%+footer%>
