<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008-2019 Jo-Philipp Wich <jo@mein.io>
 Licensed to the public under the Apache License 2.0.
-%>

<%
	if trigger_apply or trigger_revert then
%>
	<script type="text/javascript">
		document.addEventListener("luci-loaded", function() {
			<% if trigger_apply then -%>
				L.ui.changes.apply(true);
			<%- elseif trigger_revert then -%>
				L.ui.changes.revert();
			<%- else -%>
				L.ui.changes.confirm(true, Date.now() + 1 * 1000, <%=luci.http.write_json("0000000000000")%>);
			<%- end %>
		});
	</script>
<%
	end

	include("themes/" .. theme .. "/footer")
%>
